@import "tailwindcss";

body {
  font-family: 'Encode Sans Expanded', sans-serif;
}


@layer base{

    body{
         font-family: "Poppins", sans-serif;
    }
}
@theme{
    --color-main:#0aad0a;
}

@utility container{
    @apply mx-auto pt-4 sm:px-6 lg:px-8
}
@layer components{
    .form-control{
        @apply px-3 py-2 rounded-md bg-white focus:outline-none 
    }
    
}
@layer components{
    .btn{
        @apply py-3 px-6 rounded-md border-gray-500 bg-main
    }
    .nav-item {
    @apply relative hover:font-semibold hover:text-main
           after:content-[''] after:absolute after:left-0 after:-bottom-1
           after:bg-main after:h-[3px] after:w-0 hover:after:w-full
           after:transition-all ;
  }
}
